@import "tailwindcss";

@theme inline {
  --color-background: #0d0d10;
  --color-foreground: #fefeff;
  --color-foreground-50: rgba(254, 254, 255, 0.03);
  --color-foreground-100: rgba(254, 254, 255, 0.1);
  --color-foreground-200: rgba(217, 217, 217, 0.07);
  --color-purple-500: #a78bfa;
  --color-purple-400: #c588fe;
  --color-gradient: linear-gradient(
    -45deg,
    var(--color-purple-400) 0%,
    var(--color-purple-500) 100%
  );
}

html {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "dm sans", sans-serif;
  font-optical-sizing: auto;
  width: 100vw;
  overflow-x: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  flex: 1;
}

pre {
  font-family: "dm sans", sans-serif;
  font-optical-sizing: auto;
  text-wrap: wrap;
}

.bg-gradient {
  background: var(--color-gradient);
}

.text-gradient {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon-gradient {
  stroke: var(--color-gradient);
  stroke: var(--color-gradient);
}

.font-inter {
  font-family: var(--font-inter);
}

.heading {
  font-weight: 900;
  font-family: var(--font-inter);
  @apply text-3xl sm:text-3xl;
}

.image-preview::-webkit-scrollbar {
  height: 5px;
}

.image-preview::-webkit-scrollbar-thumb {
  height: 100%;
  background: var(--color-foreground-100);
  border-radius: 5px;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--color-foreground-100);
  border-radius: 5px;
}

.stroke-gradient {
  stroke: var(--color-gradient);
}
